<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="entities.Route">
    <resultMap id="routeResultMap" type="entities.Route">
        <result property="idFrom" column="id_from"/>
        <result property="idTo" column="id_to"/>
        <result property="airlineId" column="airline_id"/>
    </resultMap>

    <select id="get" parameterType="map" resultType="entities.Route" resultMap="routeResultMap">
        SELECT * FROM routes
        <where>
            <foreach collection="_parameter" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </select>

    <insert id="create" parameterType="entities.Route">
        INSERT INTO routes (id_from, id_to, airline_id, km, price)
        VALUES (#{idFrom}, #{idTo}, #{airlineId}, #{km}, #{price});
    </insert>

    <update id="update" parameterType="map">
        UPDATE routes
        <set>
            <foreach collection="values" index="key" item="value" separator=",">
                ${key} = #{value}
            </foreach>
        </set>
        <where>
            <foreach collection="filters" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM routes
        <where>
            <foreach collection="_parameter" index="key" item="value" separator=" AND ">
                ${key} = #{value}
            </foreach>
        </where>;
    </delete>
</mapper>